<!--yml

category: 未分类

date: 2024-05-12 22:04:14

-->

# Falken 博客：银行对压力测试结果做出随机反应

> 来源：[`falkenblog.blogspot.com/2009/05/banks-react-randomly-to-stress-test.html#0001-01-01`](http://falkenblog.blogspot.com/2009/05/banks-react-randomly-to-stress-test.html#0001-01-01)

![](https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgyXq7tZuYownjzlXEqx_oXKKk8SNshIwB26sxfM6xwCKxnJc9mQkZn1PwfflFoQ3K1L6UXNjvzkFMkPTfhwoUGM872_LRjJv6q2oQdTvtRklmrVSqN9Sh7pGWYlqF_oPJ8Imq1eQ/s1600-h/bankrets.png)

如果你昨天收盘前就知道哪些银行将被要求增加资本要求，那可能会对你造成伤害。也就是说，接受审查的银行上涨了约 7%，但

第五第三银行

上涨了 50%，而它在“不良”一半中（它需要将资本占当前市值的 23%进行账务）。

市场非常复杂。买方自负。
